* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*index*/
body {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000vh;
  color: #434343;
}
header {
  display: flex;
  padding: 30px;
  left: 0;
}
.logo {
  display: flex;
  width: 95vw;
  height: 12vh;
  position: absolute;
  padding-left: 30px;
  z-index: 20;
}
.bg_video {
  display: flex;
  overflow: hidden;
  height: 60vh;
}
.bg_video video {
  background-size: cover;
  object-fit: cover;
  top: 0;
  position: fixed;
  width: 100vw;
}
.main-div .inicialpage {
  display: flex;
  width: 100vw;
  height: 60vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 30%;
  text-align: center;
}
.inicialpage h1 {
  font-size: 80px;
}
.inicialpage h3 {
  font-size: 40px;
}

.btn-entrar {
  display: block;
  width: 100px;
  height: 50px;
  border: none;
  cursor: pointer;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 233, 5);
  border-radius: 5px;
}
.btn-entrar p {
  font-size: 30px;
}
.button a {
  text-decoration: none;
}
.button .btn-entrar:hover {
  background-color: black;
  color: aliceblue;
}

/*home*/
.header-home {
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100vw;
  height: 15vh;
  top: 0;
  background-color: rgb(7, 7, 7);

  position: fixed;
}
.header-home .logo-section img {
  width: 125px;
  height: 100px;
}
.menu-principal {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 2px 5px;
}
.search {
  display: flex;
  padding: 10px 30px 10px 30px;
  position: absolute;
  margin-top: 20px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -70%);
  border-radius: 5px;
  background-color: aliceblue;
  justify-content: space-between;
}
.search .fa-search {
  cursor: pointer;
}

.search input {
  border: none;
  background: none;
  outline: none;
  padding: 0 30px;
}
.search ::placeholder {
  font-size: 12px;
}
.menu-principal ul {
  list-style-type: none;
  display: flex;
}

.menu-principal ul li {
  display: flex;
  text-decoration: none;
  list-style: none;
  line-height: 20px;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  position: relative;
}

.menu-principal ul li a {
  text-decoration: none;
  list-style: none;
  color: rgb(255, 255, 255);
  padding: 0 10px;
  display: flex;
}
.menu-principal ul li a:hover {
  background-color: rgba(255, 255, 255, 0.445);
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 10px;
}

.home.title-cards{
  color: black;
  margin-top: 15%;

}
main .home {
  height: 80vh;
  width: 100vw;
  flex-wrap: wrap;
  margin-top: 12%;
  display: grid;
  place-items: center;
}

main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  grid-gap: 10px;
 margin-top: 10%;
}
.card {
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}
.container-card {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85 0, 100%);

}
.cards img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
  
}
.container-card:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.9;
}

.details {
  padding: 20px 10px;
}
.details h3 {
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details p {
  color: #a0a0a0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
footer.index-footer {
  background-color: black;
  display: flex;
  position: fixed;
  bottom: 0;
  gap: 5px;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 0;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.425) 24%,
    rgba(232, 255, 21, 0.082) 100%
  );
}
.index-footer {
  display: flex;
  color: #000000;
}
.index-footer .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box .cont-footer {
  margin: 20px 0 0 0;
}
.cont-footer p {
  font-size: 14px;
  text-decoration: none;
}
.social-media a {
  margin: 20 px 0 0 0;
  padding: 0 2px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.box .social-media a span {
  padding: 6px 6px;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s;
}
.box .social-media a span:hover {
  background-color: black;
}

/* Modal*/
.modal-container {
  background-color: #fafafa;
  border-radius: 20px;
  max-width: 400px;
  height: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 70%;
  justify-content: center;
  align-self: start;
  top: 250px;
  margin-left: 40%;
}
.modal {
  padding: 10px;
  justify-content: center;
  align-self: start;
  top: 250px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(15px);
  position: fixed;
  top: 0;
  left: 0px;
  background-color: rgba(230, 226, 20, 0.192);
  z-index: 10000;
}
.title-modal {
  background-color: yellow;
  padding: 20px;
  color: black;
}
.form {
  padding: 20px;
}
.form-control {
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
}
.form-control label {
  margin-bottom: 10px;
  display: inline-block;
}
.form-control input {
  border: 2px solid;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}
.form-control input.descript {
  padding-bottom: 80px;
}
.form-control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}
.form-control small {
  position: absolute;
  visibility: hidden;
}
.form button {
  background-color: yellow;
  border: 2px solid yellow;
  cursor: pointer;
  font: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
/*Erro e sucesso*/
.form-control.sucess input {
  border: 3px solid #2ecc71;
}
.form-control.error input {
  border: 3px solid #ff0000;
}

.form-control.sucess i.fa-circle-check {
  color: #2ecc71;
  visibility: visible;
}
.form-control.sucess small {
  visibility: hidden;
}
.form-control.error i.fa-exclamation-circle {
  color: #ff0000;
  visibility: visible;
}
.form-control.error small {
  color: #ff0000;
  visibility: visible;
}

.close-btn {
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  backdrop-filter: blur(15px);
  background-color: rgba(11, 3, 26, 0.5);
  color: aliceblue;
  cursor: pointer;
  border-top: 1px solid rgba(222, 245, 12, 0.74);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Nunito", sans-serif;
  font-size: 0.7em;
}
.close-btn:hover {
  color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  font-size: 1em;
}
#btn-menu-mobile {
  visibility: hidden;
}
@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.modal.mostrar {
  display: flex;
  width: 100%;
  height: 100%;
}
.modal.mostrar {
  animation: modal 0.5s;
}

@media (max-width: 800px) {
  .menu-principal {
    display: none;
    flex-wrap: wrap;
  }

  .menu-principal ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 38vw;
    padding: 15px 2px;
    right: 0;
    backdrop-filter: blur(2px);
  }
  .menu-principal ul li a {
    color: rgb(99, 68, 212);
    font-size: 20px;
    font-weight: bold;
  }
  .menu-principal ul li {
    margin-left: 0;
  }
  .menu-principal ul:active {
    transform: translateX(0);
  }
  .menu-principal ul ul {
    display: none;
    margin-top: 360%;
    position: absolute;
    width: 25px;
    flex-wrap: wrap;
    left: 0;
  }
  #btn-menu-mobile {
    font-size: 20px;
    background: transparent;
    color: #e4fc10;
    border: none;
    display: block;
    position: absolute;
    top: 50px;
    right: 25px;
    visibility: visible;
  }
  .logo-section {
    top: 50px;
    left: 25px;
  }

  #btn-menu-mobile.fa-bars {
    width: 20px;
    height: 15px;
    background-color: transparent;
    color: #fff;
  }
}
