@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Nunito+Sans:wght@200;300;700&display=swap");
--root {
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Cormorant Garamond", serif;
}

/*index*/
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}

.body-index {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  color: #434343;
}
.header-index {
  display: flex;
  width: 100vw;
}
.logo-index img {
  width: 8rem;
  position: absolute;
}
.main-div {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg_video {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  color: #eee;
  z-index: -1;
}
.inicialpage {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.textointro {
  align-self: center;
  z-index: 10;
}
.textointro h1 {
  font-size: 2.5rem;
  flex-wrap: wrap;
}
.textointro h3 {
  font-size: 1.2rem;
  flex-wrap: wrap;
  padding: 7px;
}
.btn-entrar {
  display: inline-block;
  padding: 15px 60px;
  font-size: 1.1rem;
  text-transform: uppercase;
  background-color: #000000;
  color: #eee;
  border-radius: 5px;
  transition: background 500ms ease;
}

.btn-entrar a {
  text-decoration: none;
}
.btn-entrar:hover {
  cursor: pointer;
  background-color: #1111113f;
  padding: 15px 100px;
  color: #111;
  border: transparent;
  font-weight: 700;
}
footer.index-footer {
  width: 100%;
  color: #a8a29e;
  background-color: #111;
  padding: 10px;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
.title-footer h5 {
  font-size: 2.2rem;
  gap: 3.5rem;
}
.cont-footer p {
  padding: 15px;
}
.cont-footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 3.5rem 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}

.social-media {
  display: flex;
  gap: 3rem;
  margin-top: 1.5rem;
}
.social-media a {
  text-decoration: none;
  color: #a8a29e;
}
/*Home*/
header {
  display: flex;
  width: 100vw;
}
header.header-home {
  display: flex;
  z-index: 1;
  background-color: #111;
}
.menuhome {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-section {
  display: flex;
  width: 20%;
  height: 20%;
}
.logo {
  width: 8rem;
}
.search {
  text-align: center;
}
.menu-container {
  display: flex;
  flex-wrap: wrap;
}
.menu-container ul li {
  padding: 10px;
  text-transform: uppercase;
  list-style: none;
}
.menu-container ul li a {
  text-decoration: none;
  color: #eee;
}
.menu-container ul li a:hover {
  background-color: #a8a29e;
  padding: 10px;
  border-radius: 20px;
  color: #000000;
  font-weight: 900;
}
.title-cards {
  margin-top: 50px;
  font-size: 2.2rem;
  font-weight: 900;
  padding-bottom: 10px;
  letter-spacing: 2px;
  color: #111;
}
main .home {
  height: 80vh;
  width: 100vw;
  flex-wrap: wrap;
  margin-top: 12%;
  display: grid;
  place-items: center;
}

main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  grid-gap: 10px;
  margin-top: 10%;
}
.card {
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}
.container-card {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85 0, 100%);
}
.cards img {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
}
.container-card:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.9;
}

.details {
  padding: 20px 10px;
}
.details h3 {
  color: white;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details p {
  color: #a0a0a0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
#btn-menu-mobile {
  font-size: 20px;
  background: transparent;
  color: #fff;
  border: none;
  display: block;
  position: absolute;
  top: 50px;
  right: 25px;
}

/* Modal*/
.modal-container {
  background-color: #fafafa;
  border-radius: 20px;
  max-width: 400px;
  height: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 70%;
  justify-content: center;
  align-self: start;
  top: 250px;
  margin-left: 40%;
}
.modal {
  padding: 10px;
  justify-content: center;
  align-self: start;
  top: 250px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(15px);
  position: fixed;
  top: 0;
  left: 0px;
  background-color: rgba(230, 226, 20, 0.192);
  z-index: 10000;
}
.title-modal {
  background-color: yellow;
  padding: 20px;
  color: black;
}
.form {
  padding: 20px;
}
.form-control {
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
}
.form-control label {
  margin-bottom: 10px;
  display: inline-block;
}
.form-control input {
  border: 2px solid;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}
.form-control input.descript {
  padding-bottom: 80px;
}
.form-control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}
.form-control small {
  position: absolute;
  visibility: hidden;
}
.form button {
  background-color: yellow;
  border: 2px solid yellow;
  cursor: pointer;
  font: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
/*Erro e sucesso*/
.form-control.sucess input {
  border: 3px solid #2ecc71;
}
.form-control.error input {
  border: 3px solid #ff0000;
}

.form-control.sucess i.fa-circle-check {
  color: #2ecc71;
  visibility: visible;
}
.form-control.sucess small {
  visibility: hidden;
}
.form-control.error i.fa-exclamation-circle {
  color: #ff0000;
  visibility: visible;
}
.form-control.error small {
  color: #ff0000;
  visibility: visible;
}

.close-btn {
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  backdrop-filter: blur(15px);
  background-color: rgba(11, 3, 26, 0.5);
  color: aliceblue;
  cursor: pointer;
  border-top: 1px solid rgba(222, 245, 12, 0.74);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Nunito", sans-serif;
  font-size: 0.7em;
}
.close-btn:hover {
  color: rgb(0, 0, 0);
  width: 20px;
  height: 20px;
  font-size: 1em;
}
#btn-menu-mobile {
  visibility: hidden;
}
@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.modal.mostrar {
  display: flex;
  width: 100%;
  height: 100%;
}
.modal.mostrar {
  animation: modal 0.5s;
}

@media screen and (max-width: 426px) {
  .cont-footer {
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem 1rem;
  }
}
.search {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .menu-container {
    display: none;

    position: absolute;
    top: 15vh;
    right: 0;
    width: 50vw;
    height: 20vh;
    background-color: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #btn-menu-mobile {
    display: block;
    visibility: visible;
  }
}
.search {
  transform: translatex(20px);
}

.cont-footer {
  gap: 1rem;
}
